div.main .content .markdown figure {
display: block;
margin: auto;
max-width: 615px;
}
div.main .content .markdown img {
display: block;
margin: auto;
max-width: 615px;
}
div.main .content .markdown pre {
width: 100%;
margin-left: 0%;
}
